body{
    margin: 0;
}

/* Principal */
.container{
    margin-top: 0px;
    height:  100%;
    width: 100%;
}

/*Cabeçalho e Menu  */
header{
    background-color: black;
    height: 100px;
    width: 100%;
    position:static;
    top: 0;
    
}

/* Logo */
.logo{
    padding-top: 10px;
    font-family: 'Alfa Slab One', cursive;
    color: #fff;
    text-align: center;
    height: 100%;
    width: 38%;
    float: left;
}
/* Menu */
.menu{
    height: 100%;
    width: 60%;
    float: right;
    position: relative;
}
nav{
    color: #fff;
    font-size: 20px;
    font-family: 'Alfa Slab One', cursive;
    padding-top: 18px;
    float: right;
}
nav ul li{
    display: inline;
    padding: 20px;
}
nav a{
    text-decoration: none;
}
nav a:link{
    color: #fff;
}
nav a:visited{
    color: #fff;
}
nav a:hover{
    color: white;
    background-color: #BDBDBD;
    
}

main{
    width: 100%;
    
}
/* Imagem Principal */
 .banner{ 
    background: url(img/red_dead.jpeg);
    height: 550px;
    width: 100%;
}

/*Conteudo principal */
.conteudo {
    margin-top: 80px;
    text-align: center;
    margin: 5% 15%;
}
.titulo1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
}
.conteudo1{
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 20px;
}

/*Trailer */
.trailer{
    margin: 44px 10px;
    width: 100;
    height: auto;
}
.video{
    width: 50%;
    height: auto;
    margin-left: 28%;
}



.titulo2{
    text-align: center;
    font-size: 30px;
    font-family: 'Noto Serif KR';
}

.desc_trailer{
    text-align: center;
    font-family: 'Noto Serif KR';
}


footer{
    width: 100%;
    height: 100px;
    background-color: #2E2E2E;
    font-family: 'Noto Serif KR';
    font-size: 60%;
    color: aliceblue; 
}
h1.assinatura{
    padding: 30px;
    padding-left: 42%;
}

/* ------------------------------ Imagens ------------------------------------*/

.banner2 {
    background: url(img/rd2_imagens.jpg);
    height: 550px;
    width: 100%;
}
.galeria{
    margin: 44px 10px;
    height: auto;
}
.imagem{
    width: 50%;
    height: auto;
    margin-left: 25%;
}

/* ------------------- Curiosidades -------------------------------- */

.banner3 {
    background-image: url(img/rd2_curio.jpg);
    height: 550px;
    width: 100%;
}
/*---------------------- Informações ----------------------------------*/

.banner4 {
    background-image: url(img/inf.jpg);
    height: 550px;
    width: 100%;
}
.formulario{
    height: 20px;
    width: 100%;
    margin-top: 80px;
}
.usuario{
    font-family:'Noto Serif KR', sans-serif;
    font-size: 26px;
    height: auto;
    width: auto;
    margin-bottom: 20px;
}

.audio{
    margin-left: 40%;
}